<footer id="footer" class="footer pt-5 pb-3 is-mobile">
  <div class="has-text-centered gap-5">
    <div class="container p-3">
      <div class="is-flex is-justify-content-center is-flex-direction-column">
        <div class="is-flex is-align-items-center is-justify-content-center gap-3 pb-3">
          <img
            draggable="false"
            src="/favicon-32x32.png"
            alt="Devify"
            width="32"
            height="32"
            loading="lazy"
            title="Ícone da Devify"
          />
          <h3 class="title is-6 p-0 m-0">Devify</h3>
        </div>
        <p class="is-size-7">A Devify foi projetada para promover conhecimento</p>

        <nav>
          <ul class="buttons is-justify-content-center are-small px-0 pt-5 m-0">
            <li>
              <a class="button is-text" href="/">
                <span class="icon is-small">
                  <i class="fa-solid fa-house"></i>
                </span>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a class="button is-text" href="/about">
                <span class="icon is-small">
                  <i class="fa-solid fa-diamond"></i>
                </span>
                <span>Sobre a Devify</span>
              </a>
            </li>
            <li>
              <a class="button is-text" href="/contact">
                <span class="icon is-small">
                  <i class="fa-solid fa-users"></i>
                </span>
                <span>Entrar em contato</span>
              </a>
            </li>
            <li>
              <a class="button is-text" href="/privacy-policy">
                <span class="icon is-small">
                  <i class="fa-solid fa-building-shield"></i>
                </span>
                <span>Política de Privacidade</span>
              </a>
            </li>
          </ul>
        </nav>

        <p class="is-size-7">&copy; 2024 - Devify - Gabriel Henrique da Silva</p>
      </div>
    </div>
  </div>
</footer>
<script src="/javascript/index.js" defer></script>
<script>
  function logout() {
    $('#sign-out-btn').click()
  }

  addEventListener('DOMContentLoaded', function () {
    $('#logout').on('click', logout)
  })
</script>
