<title th:text="${pageTitle != null ? pageTitle + ' - Devify' : 'Devify'}"></title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" th:content="${noIndexPage != null && noIndexPage ? 'noindex' : 'index, follow'}" />
<meta name="author" content="Gabriel Henrique da Silva" />
<meta name="copyright" content="© 2024 Devify - Gabriel Henrique da Silva" />
<meta data-details="success" th:data-message="${success}" />
<meta data-details="error" th:data-message="${error}" />
<meta property="og:url" th:content="${pageURL}" />
<meta property="og:type" content="article" />
<meta property="og:title" th:content="${pageTitle != null ? pageTitle + ' - Devify' : 'Devify'}" />
<meta property="og:locale" content="pt_BR" />
<meta property="og:site_name" content="Devify" />
<!-- <meta property="og:image" content="/devify.og.jpg" /> -->
<meta
  property="og:description"
  th:content="${pageDescription != null ? pageDescription : 'Devify é um projeto focado em compartilhar conhecimentos e experiências sobre desenvolvimento web. Com foco primário em Node, React, Vue e Spring Boot'}"
/>
<meta
  name="description"
  th:content="${pageDescription != null ? pageDescription : 'Devify é um projeto focado em compartilhar conhecimentos e experiências sobre desenvolvimento web. Com foco primário em Node, React, Vue e Spring Boot'}"
/>
<meta itemprop="name" content="Devify" />
<meta
  itemprop="description"
  th:content="${pageDescription != null ? pageDescription : 'Devify é um projeto focado em compartilhar conhecimentos e experiências sobre desenvolvimento web. Com foco primário em Node, React, Vue e Spring Boot'}"
/>
<!-- <meta itemprop="image" content="/devify.og.jpg" /> -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
<link rel="stylesheet" href="/css/globals.css" />
<link rel="stylesheet" href="/css/github-dark.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/core-js-bundle@3.38.1/minified.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
<script src="https://kit.fontawesome.com/78b3364728.js" crossorigin="anonymous"></script>
<script>
  Array.prototype.pickRandom = function () {
    if (this.length === 0) return null
    var item = this[Math.floor(Math.random() * this.length)]
    return item ? item : null
  }
</script>
<style>
  .navbar-dropdown {
    padding: 0.25rem;
  }

  .navbar-dropdown .navbar-item {
    border-radius: 0.25rem;
  }
</style>
