<nav class="navbar" role="navigation" aria-label="Navegação principal">
  <div class="navbar-brand">
    <a title="Devify. Tudo sobre programação" class="navbar-item" href="/">
      <h1 class="title is-4">Devify</h1>
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="Exibir menu"
      aria-expanded="false"
      data-target="default-navbar-target"
      id="navbar-burger-button"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="default-navbar-target" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item gap-3 is-flex is-align-items-center" href="/">
        <span class="icon is-small" aria-hidden="true">
          <i class="fa-solid fa-house"></i>
        </span>
        <span>Home</span>
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" role="button">
          <span class="icon is-small" aria-hidden="true">
            <i class="fa-solid fa-layer-group"></i>
          </span>
          <span>Stacks</span>
        </a>
        <th:block th:with="stacks=${#lists.isEmpty(stacks) ? @stackService.getUnlocked() : stacks}">
          <div th:if="${#lists.isEmpty(stacks)}" class="navbar-dropdown">
            <a class="navbar-item" role="none">Nenhuma Stack cadastrada</a>
          </div>
          <div th:unless="${#lists.isEmpty(stacks)}" class="navbar-dropdown">
            <a
              th:each="stack : ${stacks}"
              class="navbar-item"
              th:text="${stack.name}"
              th:href="@{/item/{stack}(stack=${stack.slug})}"
            ></a>
          </div>
        </th:block>
      </div>

      <a class="navbar-item gap-3 is-flex is-align-items-center" href="/about">
        <span class="icon is-small" aria-hidden="true">
          <i class="fa-solid fa-diamond"></i>
        </span>
        <span>Sobre a Devify</span>
      </a>

      <th:block th:if="${@userService.isAuthenticated}">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" role="button">
            <span class="icon is-small">
              <i class="fa-solid fa-screwdriver-wrench"></i>
            </span>
            <span>Administração</span>
          </a>

          <div class="navbar-dropdown">
            <a
              th:if="${#strings.isEmpty(currentURL) or !currentURL.contains('internal/profile')}"
              class="navbar-item"
              th:href="@{/internal/profile}"
            >
              <span class="icon is-small">
                <i class="fa-solid fa-user"></i>
              </span>
              <span>Perfil</span>
            </a>
            <a
              class="navbar-item"
              th:href="@{/profile/{username}(username=${@userService.currentAuthenticatedUser.username})}"
            >
              <span class="icon is-small">
                <i class="fa-solid fa-user-tie"></i>
              </span>
              <span>Perfil público</span>
            </a>

            <th:block th:if="${not @userService.isCommon}">
              <hr class="p-0 my-2" />
              <a class="navbar-item" th:href="@{/internal/articles}">
                <span class="icon is-small">
                  <i class="fa-solid fa-scroll"></i>
                </span>
                <span>Meus artigos</span>
              </a>

              <a class="navbar-item" th:href="@{/internal/article}">
                <span class="icon is-small">
                  <i class="fa-solid fa-file-circle-plus"></i>
                </span>
                <span>Escreva um novo artigo</span>
              </a>

              <a class="navbar-item" th:href="@{/internal/stacks}">
                <span class="icon is-small">
                  <i class="fa-solid fa-layer-group"></i>
                </span>
                <span>Stacks</span>
              </a>
            </th:block>

            <th:block th:if="${@userService.isMod}">
              <hr class="p-0 my-2" />
              <a class="navbar-item" th:href="@{/internal/mod/articles}">
                <span class="icon is-small">
                  <i class="fa-regular fa-folder-open"></i>
                </span>
                <span>Todos os artigos</span>
              </a>
              <a class="navbar-item" th:href="@{/internal/mod/stacks/locked}">
                <span class="icon is-small">
                  <i class="fa-solid fa-eye-slash"></i>
                </span>
                <span>Stacks desativadas</span>
              </a>
            </th:block>

            <th:block th:if="${@userService.isAdmin}">
              <hr class="p-0 my-2" />
              <a class="navbar-item" th:href="@{/internal/admin/users}">
                <span class="icon is-small">
                  <i class="fa-solid fa-user-group"></i>
                </span>
                <span>Usuários</span>
              </a>
              <a class="navbar-item" th:href="@{/internal/admin/user}">
                <span class="icon is-small">
                  <i class="fa-solid fa-user-plus"></i>
                </span>
                <span>Cadastrar usuário</span>
              </a>
            </th:block>

            <hr class="p-0 my-2" />
            <a class="navbar-item" id="logout" role="button">
              <span class="icon is-small">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
              </span>
              <span>Sair</span>
            </a>
          </div>
        </div>

        <div class="is-hidden">
          <form th:action="@{/session/out}" method="post" class="is-hidden">
            <button type="submit" id="sign-out-btn">Sair</button>
          </form>
        </div>
      </th:block>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button
            data-design
            title="Troque o tema"
            aria-label="Clique para alternar entre o tema claro e escuro"
            class="button is-text p-2"
            style="text-decoration: none"
          >
            <span data-scheme="light" class="icon is-small has-text-warning p-0 m-0">
              <i class="fa-solid fa-sun"></i>
            </span>
            <span data-scheme="dark" class="icon is-small has-text-link p-0 m-0">
              <i class="fa-solid fa-moon"></i>
            </span>
          </button>

          <button class="button" id="search">
            <span>Pesquisar</span>
            <span class="icon is-small">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <form action="/search" role="search" method="GET" class="search-modal is-hidden" data-id="search">
    <div class="search-body">
      <h1 class="title">Devify</h1>
      <label for="search-query" class="help label">Procure por artigos</label>
      <div class="field has-addons">
        <div class="control is-expanded">
          <input
            id="search-query"
            name="query"
            class="input"
            type="search"
            placeholder="Digite palavras-chave..."
            aria-label="Pesquisar"
            title="Pesquisar"
            autocapitalize="off"
            autocomplete="off"
            maxlength="150"
          />
        </div>
        <div class="control">
          <button class="button">
            <span class="icon is-small">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
          </button>
        </div>
      </div>

      <button type="button" class="delete is-large" id="hide-search-modal"></button>
    </div>
  </form>
</nav>
