.avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
}

.avatar:hover {
  box-shadow: var(--bulma-shadow);
}

.gap-3 {
  gap: 1rem;
}

#direction-buttons {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  gap: 0.25rem;
}

#direction-buttons button {
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#direction-buttons button span {
  display: block;
  margin: 0;
}

#direction-buttons button span:has(svg) {
  font-size: 1rem;
}

#direction-buttons button span:not(:has(svg)) {
  font-size: smaller;
}

.modal-card {
  padding: 0 1rem;
}
