<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <th th:replace="~{partials/head}"></th>
    <link rel="stylesheet" href="/css/github-dark.min.css" />
    <meta data-details="page" data-content="edit_article" />
    <script src="/javascript/index.internal.js" defer></script>
  </head>

  <body>
    <header id="header">
      <th th:replace="~{partials/nav}"></th>
    </header>

    <div class="container" id="root">
      <main class="pb-6 pt-3 px-3">
        <form
          method="post"
          enctype="application/x-www-form-urlencoded"
          id="save"
          th:action="@{/internal/article/{articleId}/save(articleId=${article.id})}"
        >
          <div id="article-content" class="editor-container">
            <div class="topbar"></div>
            <div data-text class="editor" th:utext="${article.content}"></div>
          </div>

          <div class="py-5">
            <button type="submit" class="button is-primary">
              <span>Salvar <span aria-hidden="true">[Ctrl + S]</span></span>
            </button>
            <a
              target="_blank"
              rel="noopener noreferrer"
              class="button"
              th:href="@{/internal/article/{articleId}/edit/metadata(articleId=${article.id})}"
            >
              <span class="icon is-small">
                <i class="fa-solid fa-database"></i>
              </span>
              <span>Metadados</span>
            </a>
          </div>
          <input type="hidden" name="content" id="content" />
        </form>
      </main>
    </div>

    <th th:replace="~{partials/article-edit-footer}"></th>
    <script defer src="/javascript/index.editor.js"></script>
  </body>
</html>
