<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <th:block th:replace="~{partials/head}"></th:block>
    <meta data-details="page" data-content="contact" />
  </head>

  <body>
    <header id="header">
      <th:block th:replace="~{partials/nav}"></th:block>
    </header>

    <div class="container" id="root">
      <main class="py-6 px-3">
        <h1 class="title">Converse com a nossa equipe</h1>
        <p>
          Envie-nos uma mensagem. Tem alguma dúvida, sugestão ou quer apenas dizer oi? Sua opinião é
          importante para nós
        </p>

        <div class="py-5">
          <h3 class="subtitle">Nossa equipe:</h3>
          <hr />
          <th:block th:if="${#lists.isEmpty(staff)}">
            <p><em>Nenhuma staff cadastrada</em></p>
          </th:block>

          <th:block th:unless="${#lists.isEmpty(staff)}">
            <div th:each="user : ${staff}" th:with="name=${user.processedName}">
              <div
                class="has-text-centered is-flex is-flex-direction-column gap-2 is-justify-content-flex-start is-align-items-center"
              >
                <a th:href="@{/profile/{username}(username=${user.username})}">
                  <img
                    th:src="${user.avatarURL}"
                    th:alt="|Avatar - ${name}|"
                    th:title="|Avatar - ${name}|"
                    width="64"
                    height="64"
                    style="width: 64px; height: 64px"
                    class="avatar"
                    loading="lazy"
                  />
                </a>
                <div>
                  <h3 class="subtitle is-5 m-0" th:text="${name}"></h3>
                  <p th:text="${user.getReducedBio(340)}" style="font-size: small"></p>

                  <div>
                    <div th:with="social=${user.social}" class="buttons gap is-justify-content-center">
                      <a
                        th:href="@{mailto:{email}(email=${user.email})}"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="button is-text"
                        title="Envie-me um email"
                      >
                        <span class="icon is-small">
                          <i class="fa-solid fa-envelope"></i>
                        </span>
                      </a>

                      <a
                        th:if="${!#strings.isEmpty(social.threads)}"
                        th:href="${social.threads}"
                        target="_blank"
                        rel="noopener noreferrer"
                        title="Link para meu Thread"
                        class="button is-text"
                      >
                        <span class="icon is-small">
                          <i class="fa-brands fa-threads"></i>
                        </span>
                      </a>

                      <a
                        th:if="${!#strings.isEmpty(social.instagram)}"
                        th:href="${social.instagram}"
                        target="_blank"
                        rel="noopener noreferrer"
                        title="Link para meu Instagram"
                        class="button is-text"
                      >
                        <span class="icon is-small">
                          <i class="fa-brands fa-instagram"></i>
                        </span>
                      </a>

                      <a
                        th:if="${!#strings.isEmpty(social.facebook)}"
                        th:href="${social.facebook}"
                        target="_blank"
                        title="Link para meu Facebook"
                        rel="noopener noreferrer"
                        class="button is-text"
                      >
                        <span class="icon is-small">
                          <i class="fa-brands fa-facebook"></i>
                        </span>
                      </a>

                      <a
                        th:if="${!#strings.isEmpty(social.youtube)}"
                        th:href="${social.youtube}"
                        target="_blank"
                        rel="noopener noreferrer"
                        title="Link para meu canal do YouTube"
                        class="button is-text"
                      >
                        <span class="icon is-small">
                          <i class="fa-brands fa-youtube"></i>
                        </span>
                      </a>

                      <a
                        th:if="${!#strings.isEmpty(social.bluesky)}"
                        th:href="${social.bluesky}"
                        target="_blank"
                        rel="noopener noreferrer"
                        title="Link para meu BlueSky"
                        class="button is-text"
                      >
                        <span class="icon is-small">
                          <i class="fa-brands fa-bluesky"></i>
                        </span>
                      </a>

                      <a
                        th:if="${!#strings.isEmpty(social.mastodon)}"
                        th:href="${social.mastodon}"
                        target="_blank"
                        rel="noopener noreferrer"
                        title="Link para meu Mastodon"
                        class="button is-text"
                      >
                        <span class="icon is-small">
                          <i class="fa-brands fa-mastodon"></i>
                        </span>
                      </a>

                      <a
                        th:if="${!#strings.isEmpty(social.reddit)}"
                        th:href="${social.reddit}"
                        target="_blank"
                        rel="noopener noreferrer"
                        title="Link para meu Reddit"
                        class="button is-text"
                      >
                        <span class="icon is-small">
                          <i class="fa-brands fa-reddit"></i>
                        </span>
                      </a>

                      <a
                        th:if="${!#strings.isEmpty(social.twitter)}"
                        th:href="${social.twitter}"
                        target="_blank"
                        rel="noopener noreferrer"
                        title="Link para meu X/Twitter"
                        class="button is-text"
                      >
                        <span class="icon is-small">
                          <i class="fa-brands fa-x-twitter"></i>
                        </span>
                      </a>

                      <a
                        th:if="${!#strings.isEmpty(social.github)}"
                        th:href="${social.github}"
                        target="_blank"
                        rel="noopener noreferrer"
                        title="Link para meu GitHub"
                        class="button is-text"
                      >
                        <span class="icon is-small">
                          <i class="fa-brands fa-github"></i>
                        </span>
                      </a>

                      <a
                        th:if="${!#strings.isEmpty(social.tiktok)}"
                        th:href="${social.tiktok}"
                        target="_blank"
                        rel="noopener noreferrer"
                        title="Link para meu TikTok"
                        class="button is-text"
                      >
                        <span class="icon is-small">
                          <i class="fa-brands fa-tiktok"></i>
                        </span>
                      </a>

                      <a
                        th:if="${!#strings.isEmpty(social.discord)}"
                        th:href="${social.discord}"
                        target="_blank"
                        title="Link para meu Discord"
                        rel="noopener noreferrer"
                        class="button is-text"
                      >
                        <span class="icon is-small">
                          <i class="fa-brands fa-discord"></i>
                        </span>
                      </a>

                      <a
                        th:if="${!#strings.isEmpty(social.linkedin)}"
                        th:href="${social.linkedin}"
                        target="_blank"
                        title="Link para meu LinkedIn"
                        rel="noopener noreferrer"
                        class="button is-text"
                      >
                        <span class="icon is-small">
                          <i class="fa-brands fa-linkedin-in"></i>
                        </span>
                      </a>

                      <a
                        th:if="${!#strings.isEmpty(social.site)}"
                        th:href="${social.site}"
                        title="Link para meu Site"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="button is-text"
                      >
                        <span class="icon is-small">
                          <i class="fa-solid fa-globe"></i>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
            </div>
          </th:block>
        </div>
      </main>
    </div>

    <th:block th:replace="~{partials/footer}"></th:block>
  </body>
</html>
