<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <th:block th:replace="~{partials/head}"></th:block>
    <meta data-details="page" data-content="privacy-policy" />
  </head>

  <body>
    <header id="header">
      <th:block th:replace="~{partials/nav}"></th:block>
    </header>

    <div class="container" id="root">
      <main class="content py-6 px-3">
        <h1 class="title">Política de Privacidade</h1>

        <p>
          A sua privacidade é importante para nós. É política da Devify respeitar a sua privacidade em relação
          a qualquer informação sua que possamos coletar no site <a href="https://devify.cyou">Devify</a>, e
          outros sites que possuímos e operamos.
        </p>

        <p>
          Coletamos informações pessoais apenas quando necessário para oferecer um serviço de qualidade.
          Fazemos isso de maneira justa e legal, sempre com o seu conhecimento e consentimento. Além disso,
          informamos claramente o motivo da coleta e como esses dados serão utilizados.
        </p>

        <p>
          Retemos as informações coletadas apenas pelo tempo necessário para fornecer o serviço solicitado.
          Quando armazenamos esses dados, utilizamos meios comercialmente aceitáveis para protegê-los contra
          perdas, roubos, acessos, divulgações, cópias, usos ou modificações não autorizadas.
        </p>

        <p>
          Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando
          exigido por lei.
        </p>

        <p>
          O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que
          não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade
          por suas respectivas políticas de privacidade.
        </p>

        <p>
          Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não
          possamos fornecer alguns dos serviços desejados.
        </p>

        <p>
          O uso contínuo do nosso site será considerado como aceitação das nossas práticas de privacidade e
          tratamento de informações pessoais. Se tiver alguma dúvida sobre como lidamos com dados dos usuários
          e informações pessoais, entre em <a href="https://devify.cyou/contact">contato</a>.
        </p>
        <ul>
          <li>
            O serviço Google AdSense que usamos para veicular publicidade usa cookies para veicular anúncios
            mais relevantes em toda a Web e limitar o número de vezes que um determinado anúncio é exibido
            para você.
          </li>
          <li>
            Utilizamos anúncios para compensar os custos de funcionamento deste site e fornecer financiamento
            para futuros desenvolvimentos. Os cookies de publicidade comportamental usados por este site foram
            projetados para garantir que você forneça os anúncios mais relevantes sempre que possível,
            rastreando anonimamente seus interesses e apresentando coisas semelhantes que possam ser do seu
            interesse.
          </li>
        </ul>
      </main>
    </div>

    <th:block th:replace="~{partials/footer}"></th:block>
  </body>
</html>
