<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <th:block th:replace="~{partials/head}"></th:block>
    <meta data-details="page" data-content="stack_page" />
  </head>

  <body>
    <header id="header">
      <th:block th:replace="~{partials/nav}"></th:block>
    </header>

    <div class="container" id="root">
      <main class="py-6 px-3">
        <span>
          <span>&mdash;</span>
          <span>
            <small th:text="${stack.slug}"></small>
          </span>
        </span>
        <h1 class="title" th:text="${stack.name}"></h1>
        <div>
          <div th:utext="${stack.description}"></div>
        </div>

        <div class="py-5">
          <hr />
          <h2 class="title is-5 mb-2">Artigos publicados em <span th:text="${stack.name}"></span></h2>

          <div th:if="${#lists.isEmpty(articles)}">
            <span>Nenhum artigo publicado</span>
          </div>

          <th:block th:unless="${#lists.isEmpty(articles)}">
            <div th:each="article : ${articles}" class="pb-3">
              <div>
                <span>
                  <small>
                    <time
                      th:text="|Atualizado em ${dateFormatter.simple(article.updatedAt)}|"
                      th:datetime="${article.updatedAt}"
                      data-no-format-time="true"
                    ></time>
                  </small>
                </span>
              </div>
              <a th:href="@{/item/{stack}/{slug}(stack=${stack.slug}, slug=${article.slug})}">
                <span class="link-title" th:text="${article.title}"></span>
              </a>
            </div>
          </th:block>
        </div>
      </main>
    </div>

    <th:block th:replace="~{partials/footer}"></th:block>
  </body>
</html>
