<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <th th:replace="~{partials/head}"></th>
    <meta data-details="page" data-content="user_articles" />
    <script src="/javascript/index.internal.js" defer></script>
  </head>

  <body>
    <header id="header">
      <th th:replace="~{partials/nav}"></th>
    </header>

    <div class="container" id="root">
      <main class="pb-6 pt-5 px-3">
        <div class="is-flex gap-3 is-justify-content-space-between is-align-items-center">
          <h1 class="title">Meus artigos</h1>
          <a href="/internal/article" class="button is-link">
            <span class="icon is-small">
              <i class="fa-solid fa-file-circle-plus"></i>
            </span>
            <span>Escrever</span>
          </a>
        </div>

        <div class="py-3">
          <th:block th:if="${#lists.isEmpty(articles)}">
            <div>
              <p>Você não começou a escrever nenhum artigo</p>
            </div>
          </th:block>

          <th:block th:unless="${#lists.isEmpty(articles)}">
            <div class="mb-3" th:each="article : ${articles}">
              <a
                class="link-title"
                th:href="@{/internal/article/{articleId}/edit(articleId=${article.id})}"
                target="_blank"
                title="Clique para editar"
                rel="noopener noreferrer"
                th:text="${article.title}"
              ></a>

              <div>
                <small>
                  <em>
                    Criado em:
                    <time th:text="${article.createdAt}" th:datetime="${article.createdAt}"></time>
                    por você
                  </em>
                  | slug:
                  <a
                    class="has-text-current"
                    th:href="@{/internal/article/{articleId}/edit(articleId=${article.id})}"
                    th:text="${article.slug}"
                  ></a>
                  |
                  <span
                    th:text="${article.isPublished ? 'Publicado' : 'Não publicado'}"
                    th:class="${article.isPublished ? 'has-text-primary' : 'has-text-danger'}"
                  ></span>
                </small>
              </div>

              <div>
                <small>
                  <em>
                    Última atualização:
                    <time th:datetime="${article.updatedAt}" th:text="${article.updatedAt}"></time>
                  </em>
                </small>
              </div>
              <div>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  class="button is-text m-0 is-small"
                  th:href="@{/internal/article/{articleId}/edit/metadata(articleId=${article.id})}"
                >
                  <span class="icon is-small">
                    <i class="fa-solid fa-database"></i>
                  </span>
                  <span>Editar metadados</span>
                </a>
              </div>
              <hr class="mx-0 mt-1" />
            </div>
          </th:block>
        </div>
      </main>
    </div>

    <th th:replace="~{partials/footer}"></th>
  </body>
</html>
